.benefits {
    margin-top: 211px;
    @media (max-width: $md3+px) {margin-top: 145px;}
    &__container {
        width: 1460px;
        margin: 0 auto;
        @media (max-width: $md3+px) {
            width: 95%;
        }
    }
}
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1450px;
    @media (max-width: $md3+px) {
        max-width: 95%;
    }
    &__headers {
        text-align: center;
        width: 850px;
        @media (max-width: $md3+px) {
            max-width: 85%;
        }
        h3 {
            color: #15B68E;
            font-weight: 700;
        }
        p {margin-top: 2rem;}
    }

    &__border {
        margin-top: 60px;
        width: 1355px;
        height: 11px;
        background: #000;
        transform: rotate(-0.4deg) translateY(5px);
        background: #15B68E;
        border-top-left-radius: 45px;
        @media (max-width: $md3+px) {display: none;}
    }

    &__achievements {
        position: relative;
        margin-bottom: 60px;
        width: 1350px;
        height: 345px;
        text-align: center;
        border-radius: 0 0 40px 42px;
        background: #15B68E;
        padding: 58px 0;
        color: #fff;
        @media (max-width: $md3+px) {
            width: 315px;
            height: 154px;
            padding: 31px 0;
            border-radius: 0 0 10px 10px;
            margin-top: 50px;
        }

        h5 {
            font-weight: 700;
            @media (max-width: $md3+px) {font-size: 16px;}
        }
        
        &::before,&::after {
            content: "";
            position: absolute;
            background-color: #15B68E;
            outline: 1px solid transparent;
        }
        &::before {
            width: 55px;
            height: 338px;
            top: -1px;
            left: -26.5px;
            transform: skew(3deg,0) rotate(-0.5deg);
            border-radius: 45px 0 0 65%;
            @media (max-width: $md3+px) {
                width: 20px;
                height: 153px;
                left: -10px;
                top: 0.5px;
                border-radius: 10px 0 0 15px;
            }
        }

        &::after {
            width: 55px;
            height: 348px;
            top: -11px;
            left: 1323px;
            transform: skew(-3deg,0) rotate(0.5deg);
            border-radius: 0 45px 65% 0;
            @media (max-width: $md3+px) {
                width: 20px;
                height: 153px;
                left: 305px;
                top: 0.5px;
                border-radius: 0 10px 15px 0;
            }
        }
    }

    &__numbers {
        padding-top: 45px;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        @media (max-width: $md3+px) {
            padding-top: 20px;
            max-width: 300px;
        }
    }

    &__card {
        text-align: left;
        h2 {
            font-weight: 700;
            @media (max-width: $md3+px) {font-size: 40px;}
        }
        h4 {
            color: #000;
            @media (max-width: $md3+px) {font-size: 14px;}
        }
    }

    &__stroke {
        position: absolute;
        top: -30px;
        left: -255px;
        width: 1899px;
        height: 595px;
        z-index: 4;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__finger {
        position: absolute;
        top: 100px;
        left: -130px;
        width: 229px;
        height: 190px;
        transform: rotate(-30deg);
        z-index: 100;
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        @media (max-width: $md3+px) {
            width: 91px;
            height: 76px;
            top: -40px;
            left: -30px;
        }
    }

    &__stroke__little {
        display: none;
        @media (max-width: $md3+px) {
            display: block;
            position: absolute;
            top: 0px;
            left: -20px;
            width: 376px;
            height: 142px;
            z-index: 7;
        }
    }
}

//=======================================================================================================================================

.functions {

    max-width: 1460px;
    margin: 0 auto;

    &__content {
        margin-top: 200px;
        display: flex;
    }

    &__text {
        position: relative;
        width: 650px;
        padding: 63px 0px 0px 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        h6 {
            color: #fff;
            font-weight: 700;
            letter-spacing: 3%;
        }

        p {
            padding-top: 30px;
            font-weight: 500;
        }
    }

    &__ball {
        position: absolute;
        top: -75px;
        left: -275px;
        z-index: -1;
        width: 804px;
        height: 804px;
        border-radius: 50%;
        background: linear-gradient(131.3deg, #15B68E 8.56%, #93E736 87.99%);
        transform: rotate(90deg);
    }

    &__eclipsesmall {
        position: absolute;
        top: 350px;
        left: -200px;
        width: 481px;
        height: 542px;
        transform: rotate(90deg);
        @media (max-width: $md3+px) {display: none;}
    }

    &__eclipselarge {
        position: absolute;
        top: -25px;
        left:  -290px;
        width: 833px;
        height: 833px;
    }

    &__heart {
        position: absolute;
        top: 380px;
        left: 170px;
        width: 171px;
        height: 137px;
    }

    &__rupor {
        position: absolute;
        top: 520px;
        left: -130px;
        width: 248px;
        height: 237px;
        transform: scale(-1, 1);
        @media (max-width: $md3+px) {display: none;}
    }

    &__main {
        max-width: 800px;
        margin-left: 220px;
        position: relative;
        h2 {
            font-weight: 700;
        }
    }

    &__cards {
        margin: 88px 0 auto 37px;
        display: grid;
        grid-template-columns: repeat(2, 356px);
        grid-template-rows: repeat(2, 409px);
        grid-column-gap: 160px;
        grid-row-gap: 120px;
    }

    &__item {
        
    }

    &__direct {
        text-align: center;
    }

    &__bonus {
        font-weight: 500;
        margin: 24px 0;
    }

    &__button {
        width: 308px;
        height: 78px;
        background: linear-gradient(91.65deg, #93E736 -28.46%, #13A16C 105.66%);
        border-radius: 50px;
    }

    &__offer {
        position: absolute;
        top: 90px;
        left: 615px;
        width: 228px;
        height: 228px;
        background: #EB443D;
        border-radius: 50%;
        transform: rotate(-4.14deg);
        p {
           color: #fff;
           font-weight: 500; 
        }
    }

    &__inner {
        width: 170px;
        height: 80px;
        text-align: center;
        margin: 74px auto;
    }

    &__img {
        width: 356px;
        height: 253px;
    }
}

.cellphone1 {
}
.notebook1 {
}
.notebook2 {
}
.cellphone2 {
}