.benefits {
    margin-top: 211px;
    @media (max-width: $md3+px) {margin-top: 145px;}
    &__container {
        width: 1450px;
        margin: 0 auto;
        @media (max-width: $md3+px) {
            width: 95%;
        }
    }
}
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1450px;
    @media (max-width: $md3+px) {
        max-width: 95%;
    }
    &__headers {
        text-align: center;
        width: 850px;
        @media (max-width: $md3+px) {
            max-width: 85%;
        }
        h3 {
            color: #15B68E;
            font-weight: 700;
        }
        p {margin-top: 2rem;}
    }

    &__border {
        margin-top: 60px;
        width: 1355px;
        height: 11px;
        background: #000;
        transform: rotate(-0.4deg) translateY(5px);
        background: #15B68E;
        border-top-left-radius: 45px;
        @media (max-width: $md3+px) {display: none;}
    }

    &__achievements {
        position: relative;
        margin-bottom: 60px;
        width: 1350px;
        height: 345px;
        text-align: center;
        border-radius: 0 0 40px 42px;
        background: #15B68E;
        padding: 58px 0;
        color: #fff;
        @media (max-width: $md3+px) {
            width: 315px;
            height: 154px;
            padding: 31px 0;
            border-radius: 0 0 10px 10px;
            margin-top: 50px;
        }

        h5 {
            font-weight: 700;
            @media (max-width: $md3+px) {font-size: 16px;}
        }
        
        &::before,&::after {
            content: "";
            position: absolute;
            background-color: #15B68E;
            outline: 1px solid transparent;
        }
        &::before {
            width: 55px;
            height: 338px;
            top: -1px;
            left: -26.5px;
            transform: skew(3deg,0) rotate(-0.5deg);
            border-radius: 45px 0 0 65%;
            @media (max-width: $md3+px) {
                width: 20px;
                height: 153px;
                left: -10px;
                top: 0.5px;
                border-radius: 10px 0 0 15px;
            }
        }

        &::after {
            width: 55px;
            height: 348px;
            top: -11px;
            left: 1323px;
            transform: skew(-3deg,0) rotate(0.5deg);
            border-radius: 0 45px 65% 0;
            @media (max-width: $md3+px) {
                width: 20px;
                height: 153px;
                left: 305px;
                top: 0.5px;
                border-radius: 0 10px 15px 0;
            }
        }
    }

    &__numbers {
        padding-top: 45px;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        @media (max-width: $md3+px) {
            padding-top: 20px;
            max-width: 300px;
        }
    }

    &__card {
        text-align: left;
        h2 {
            font-weight: 700;
            @media (max-width: $md3+px) {font-size: 40px;}
        }
        h4 {
            color: #000;
            @media (max-width: $md3+px) {font-size: 14px;}
        }
    }

    &__stroke {
        position: absolute;
        top: -30px;
        left: -255px;
        width: 1899px;
        height: 595px;
        z-index: 4;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__finger {
        position: absolute;
        top: 100px;
        left: -130px;
        width: 229px;
        height: 190px;
        transform: rotate(-30deg);
        z-index: 100;
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        @media (max-width: $md3+px) {
            width: 91px;
            height: 76px;
            top: -40px;
            left: -30px;
        }
    }

    &__stroke__little {
        display: none;
        @media (max-width: $md3+px) {
            display: block;
            position: absolute;
            top: 0px;
            left: -20px;
            width: 376px;
            height: 142px;
            z-index: 7;
        }
    }
}
