
.header {

    &__content {
        padding: 40px 6px 0;
        margin: 0 auto;
        display: flex;
    }

    &__logo {
        width: 179px;
        height: 60px;
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        @media (max-width: $md3+px) {
            width: 110px;
            height: 37px;
        }
    }
}

.menu{

    /*&__icon {
    }

    &__body {
    }*/

    &__list {
        display: flex;
        justify-content: center;
        padding: 0px 0 0 76px;
        align-items: center;
        li { 
            margin: 0px 0px 0px 33px;
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }

    &__link {
        transition: color 0.3s ease 0s;
        @media (min-width: $md3+px) {
            &:hover{
                color: #ff6464;
            }
        }
    }
}
.icon-menu {
    display: none;
    @media (max-width: $md3+px) {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}

/*burger
.icon-menu {
    display: none;
    @media (max-width: $md3+px) {
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}
*/
