.intro {

    &__container {
        max-width: 1262px;
        margin: 0 auto;
        @media (max-width: $md3+px) {
            max-width: none;
            padding: 0 10px;
        }
    }

    &__content {
        margin-top: 183px;
        position: relative;
        display: flex;
        flex-direction: column;
        @media (max-width: $md3+px) {
            margin-top: 125px;
            padding: 0 10px;
        }
    }

    &__header {
        position: relative;
        text-align: center;
        padding: 0 150px;
        width: 100%;
        h1 {
            font-weight: 500;
            @media (max-width: $md3+px) {
                min-width: 330px;
                font-size: 30px;
            }
        }
        &::after {
            content: url(/img/heart_little.png);
            position: absolute;
            width: 90%;
            height: 90%;   
            top: 183px;
            left: 400px;
            z-index: 1;
            @media (max-width: $md3+px) {display: none;}
        }
        @media (max-width: $md3+px) {
            min-width: 100%;
            padding: 0 0 0 0;
        }
    }

    &__circle {
        position: absolute;
        width: 362.43px;
        height: 362.43px;
        left: -370px;
        top: -120px;
        border-radius: 50%;
        background: linear-gradient(131.3deg, #15B68E 8.56%, #93E736 87.99%);
        transform: rotate(37deg);
    }

    &__circle_main {
        position: absolute;
        width: 670.81px;
        height: 670.81px;
        left: 1130px;
        top: 100px;
        border-radius: 50%;
        background: linear-gradient(131.3deg, #15B68E 8.56%, #93E736 87.99%);
        transform: rotate(37.41deg);
        img {
            position: absolute;
            top: 50px;
            left: -10px;
            transform: rotate(-40deg);
            @media (max-width: $md3+px) {
                display: none;
            }
        }
    }

    &__letter {
        position: absolute;
        width: 209px;
        height: 168px;
        top: -50px;
        left: -140px;
        img {
            width: 110%;
            height: 110%;
            object-fit: cover;
        }
    }

    &__letter_small {
        position: absolute;
        width: 163px;
        height: 131px;
        top: -100px;
        left: 1280px;
        transform: rotate(-25deg) ;
        img {
            width: 110%;
            height: 110%;
            object-fit: cover;
        }
    }

    &__heart {
        position: absolute;
        width: 212px;
        height: 171px;
        top: 300px;
        left: -50px;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__finger {
        position: absolute;
        width: 206px;
        height: 152px;
        top: 180px;
        left: 1100px;
        z-index: 1;
        img {
            width: 110%;
            height: 110%;
            object-fit: cover;
        }
    }

    &__stripe {
        display: flex;
        position: absolute;
        top: 430px;
        left: -50%;
        width: 3028px;
        height: 97px;
        background: #FBD748;
        box-shadow: 0px 0px 1px rgba(0, 20, 51, 0.3), 0px 6px 16px rgba(0, 20, 51, 0.15);
        transform: rotate(-5deg);
        align-items: center;
        h3 {
            font-weight: 500;
            font-size: 2.25rem;
            line-height: 136%;
        }
    }

    &__text {
        margin-top: 550px;
        width: 735px;
        height: 330px;
        h2 {
            font-weight: 700;
            @media (max-width: $md3+px) {font-size: 30px;}
        }
        p {padding-top: 30px;}
        @media (max-width: $md3+px) {
            width: 330px;
        }
    }
}