.maillist {
    margin-top: 190px;
    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    @media (max-width: $md3+px) {margin-top: 150px;}
    &__div {
        margin: 0 auto;
        position: relative;
        width: 1300px;
        height: 850px;
        background-color: #2E353D;
        transform: rotate(0.5deg);
        border-bottom-right-radius: 30px;
        @media (max-width: $md3+px) {
            width: 320px;
            height: 700px;
            transform: none;
        }
        &::before {
            width: 100px;
            height: 850px;
            top: 0;
            left: -25px;
            transform: skew(3deg, 0);
            border-top-left-radius: 30px;
            border-bottom-left-radius: 0px;
            @media (max-width: $md3+px) {
                width: 50px;
                height: 700px;
                transform: skew(2deg, 0);
            }
        }
        &::after {
            width: 100px;
            height: 850px;
            top: 0;
            left: 1240px;
            transform: skew(-5deg, 0);
            border-top-right-radius: 30px;
            border-bottom-right-radius: 20px;
            z-index: -1;
            @media (max-width: $md3+px) {
                width: 100px;
                height: 700px;
                left: 260px;
                border-bottom-right-radius: 5px;
                transform: skew(-3deg, 0);
            }
        }
        &::before,&::after {
            content: "";
            position: absolute;
            background-color: #2E353D;
            outline: 1px solid transparent;
        }
    }

    &__letter {
        position: absolute;
        top: 40px;
        left: -100px;
        width: 280px;
        height: 255px;
        transform: rotate(-25deg);
        @media (max-width: $md3+px) {display: none;}
    }

    &__messager {
        position: absolute;
        top: 600px;
        left: 1200px;
        width: 221px;
        height: 166px;
        z-index: 1;
        @media (max-width: $md3+px) {display: none;}
    }

    &__subscribe {
        margin-top: 225px;
        margin-bottom: 225px;
        position: relative;
        @media (max-width: $md3+px) {margin-top: 140px;}
    }
}

.maillist__border {
    position: relative;
    background-color: #2E353D;
    outline: 1px solid transparent;
    width: 1306px;
    height: 50px;
    top: -1px;
    left: -1px;
    transform: rotate(-1deg) skew(2deg, 0) translateY(-28px);
    z-index: 1;
    margin: 0 auto;
    border-radius: 0 0 25px 30px;
    @media (max-width: $md3+px) {
        width: 355px;
        height: 25px;
        top: 0px;
        left: 4.5px;
        border-radius: 0 0 20px 20px;
        transform: translateY(-12px);
    }
}

//===================================================================================================================

.schedule {

    &__content {
        transform: rotate(-0.5deg);
        max-width: 1075px;
        margin: 0 auto;
        h2 {
            text-align: center;
            color: #fff;
            font-weight: 700;
            padding-top: 90px;
            max-width: 830px;
            @media (max-width: $md3+px) {
                font-size: 24px;
                padding-top: 40px;
            }
        }
        @media (max-width: $md3+px) {
            transform: none;
        }
    }

    &__list1 {
        display: flex;
        justify-content: space-around;
        padding-top: 70px;
        @media (max-width: $md3+px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 18px;
        }
    }

    &__item {
        text-align: center;
        width: 270px;
        height: 100%;
        @media (max-width: $md3+px) {padding-top: 24px;}
        h6 {
            color:#FBD748;
            font-weight: 500;
        }
        p {
            color: #fff;
            padding-top: 1rem;
        }
    }

    &__special {
        width: 400px;
        height: 100%;
        @media (max-width: $md3+px) {width: 340px;}
    }

    &__list2 {
        display: flex;
        justify-content: space-around;
        padding: 70px 0 90px 0;
        @media (max-width: $md3+px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 0 42px 0;
        }
    }

    &__button {
        width: 438px;
        height: 78px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $md3+px) {
            width: 250px;
            height: 52px;
        }
    }

}

//===================================================================================================================

.subscribe {

    &__content {
        width: 1460px;
        height: 453px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        background: #2E3C4A;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        padding: 30px 225px 0px 0px;
    }

    &__giftball {
        position: relative;
        width: 494px;
        height: 453px;
        
    }
    &__ball {
        position: absolute;
        top: -180px;
        left: -230px;
        width: 824px;
        height: 824px;
        background: linear-gradient(131.3deg, #15B68E 8.56%, #93E736 87.99%);
        border-radius: 50%;
    }

    &__gift {
        position: absolute;
        top: -100px;
        left: 66px;
        width: 430px;
        height: 589px;
        z-index: 1;
    }

    &__fields {
        width: 496px;
        height: 100%;
        text-align: center;
        h4 {
            color: #fff;
            font-weight: 500;
        }
    }

    &__form {
        width: 480px;
        margin-top: 1.25rem;
    }

    &__item {
        margin-bottom: 1rem;
        input {
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 1.375rem 0.75rem;
            font-family: inherit;
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
            background-color: transparent;
            background-clip: padding-box;
            border: 1px solid #bdbdbd;
            border-radius: 0.5rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        input::placeholder {
            color: #fff;
          }
    }

    &__checkbox {
        display: flex;
        justify-content: space-between;
        width: 260px;
    }

    &__box {
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        input+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
          }
        input+label::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
        input:checked+label::before {
            border-color: #0b76ef;
            background-color: #0b76ef;
            background-image: url("/img/subscribe/vector.svg");
          }
    }

    &__button {
    }

    &__play {
    }

    &__gift2 {
        position: absolute;
        top: 315px;
        left: 1225px;
        width: 233px;
        height: 139px;
    }
}
