.slider {
    margin-top: 150px;
    &__body {
        //display: flex;
        padding: 20px;
        min-width: 0;
    }
    &__card {
        transition: all 0.3s ease 0s;
        width: 400px;
        height: 100%;
        margin: 0 30px;
        @media (max-width: $md3+px) {
            width: 132px;
        }
    }
    &__person {
        position: relative;
        width: 369px;
        height: 100%;
        border-radius: 10%;
        margin: 0 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        @media (max-width: $md3+px) {
            width: 122px;
            height: 122px;
            margin: 0;
        }
    }

    &__border {
        position: absolute;
        top: 0;
        left: 0;
        width: 362px;
        height: 362px;
        border-radius: 10%;
        border: 2px solid;
        @media (max-width: $md3+px) {
            width: 125px;
            height: 125px;
        }
    }

    &__headers {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        min-width: 0;
        text-align: center;
        h5 {font-weight: 700;}
        h6 {padding-top: 12px;}
        @media (max-width: $md3+px) {
            width: 122px;
        }
    }
}
.person {
    &1  {transform: rotate(-0.6deg) translate(0, 1rem);}
    &2  {transform: rotate(4.31deg);}
    &3  {transform: rotate(-0.6deg) translate(0, 0.56rem);}
    &4  {transform: rotate(7.06deg) translate(0, -0.8rem);}
}
.person_border {
    &1 {
        border-color: #15B68E ;
        transform: rotate(4.59deg);
    }
    &2 {
        border-color: #FBD748;
        transform: rotate(0.48deg);
        top: .375rem;
    }
    &3 {
        border-color: #15B68E;
        transform: rotate(-4.42deg);
    }
    &4 {
        border-color: #FBD748;
        transform: rotate(3.23deg);
        top: 0.4rem;
        left: 1rem;
    }
}

.slick-track {
    display: flex;
}
.slick-list {
    //overflow: hidden;
}
