$font-family: "Eastman";
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1520;
$md1: $maxWidthContainer + 12;
$md3: 991.98;
$ff: Roboto;
//@import "mixins";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700&display=swap&subset=cyrillic-ext);
@import "fonts";
@import "icons";
@import "null.scss";
@import "ui.scss";
@import "header.scss";
@import "intro.scss";
@import "slider.scss";
@import "about.scss";
@import "maillist.scss";
//@import "footer.scss";


//$md3: 767.98;
//$md4: 479.98;

html {
    @media (max-width: $md3+px) {
        font-size: 9px;
    }
}
body {
    max-width: $maxWidth + px;
    margin: 0 auto;
    color: #000;
    font-family: Eastman;
    font-size: 16px;
    &._lock {
       overflow: hidden;
    }
    
}

.wrapper {
    width: 100%;
    min-width: 0;
    min-height: 100%;
    overflow: hidden;
    //display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $md3+px) {
        align-items: center;
    }
    &._loaded {

    }
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}









