.e16 {
    font-family: "Eastman";
    font-size: 1rem;
    line-height: 137%;
}
.e18 {
    font-size: 1.125rem;
    line-height: 111%;
}
.e64 {
    font-size: 4rem;
    line-height: 134%;
}
.e24 {
    font-size: 1.5rem;
    line-height: 125%;
}
.e14 {
    font-size: 0.875rem;
    line-height: 128%;
}
.e34 {
    font-size: 2.125rem;
    line-height: 129%;
}
.e20 {
    font-size: 1.25rem;
    line-height: 120%;
}
.e30 {
    font-size: 1.875rem;
    line-height: 146%;
}
.e100 {
    font-size: 6.25rem;
    line-height: 100%;
}
.button {
    width: 305px;
    height: 52px;
    background: linear-gradient(91.65deg, #93E736 -28.46%, #13A16C 105.66%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
        p {
            color: #fff;
            font-weight: 500;
            letter-spacing: .035em;
        }
        br {display: none;}
}